<link href="estilos/lista.css" rel="stylesheet" title="Default Style">
<div class="pricing-wrapper clearfix">
    <!-- Titulo -->
    <h1 class="pricing-table-title">lista de odontologias</h1>
    <!--a partir de aqui-->
    <div class="pricing-table recommended">
        <h2 class="pricing-title">mi dentista</h2>
        <!-- Lista de Caracteristicas / Propiedades -->
        <ul class="table-list">
            <table class="tabla-principal">
                <tr>
                    <th></th>
                  <td WIDTH="65%" HEIGHT="80%" rowspan="6"><img src="images/imagen2.jpg" alt="odontologias tacna" style="width:80%;"></td>
                  <td><a href="URL-maps" target="_blank"><img alt="ubicame en tacna" height="32" src="images/direccion.png" title="sígueme por Correo" width="32" /></a></td>
                  <td><h4>AV LEGUIA</h4></td>
                </tr>
                <tr>
                  <th></th>
                  <td><a href="URL-maps" target="_blank"><img alt="ubicame en tacna" height="32" src="images/telefono.png" title="sígueme por Correo" width="32" /></a></td>
                  <td><h4>97632487</h4></td>
                </tr>
                <tr>
                  <th></th>
                  <td><a href="URL-maps" target="_blank"><img alt="ubicame en tacna" height="32" src="images/usuario.png" title="sígueme por Correo" width="32" /></a></td>
                  <td><h4>LUNES A VIERNES</h4></td>
                </tr>
                
                <tr>
                    <th></th>
                    <td><a href="URL-Correo" target="_blank"><img alt="sígueme por Correo" height="32" src="images/logo-gmail.png" title="sígueme por Correo" width="32" /></a>
                        </td>
                    <td><h4>dentista@gmail.com</h4></td>
                </tr>
                <tr>
                    <th></th>
                    <td><a href="URL-web" target="_blank"><img alt="sígueme por Correo" height="32" src="images/mundo-en-red.png" title="sígueme por Correo" width="32" /></a></td>
                    <td><h4>www.dentista.com</h4></td>
                </tr>
                
                <tr>
                    <th></th>
                    <td><a href="URL-FACEBOOK" target="_blank"><img alt="siguenos en facebook" height="32" src="images/facebook-logo.png" title="siguenos en facebook" width="32" /></a></td>
                    <td><a>facebook</a></td>
                </tr>
            </table> 
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="estilos/masinformacion.css" rel="stylesheet" title="Default Style">
            <div class="table-buy">
                <!--<a href="masinformacion.html" class="pricing-action">mas informacion</a-->
                    <li><input type="checkbox"  class="pricing-action"  name="list" id="nivel1-1"><label class="pricing-action" for="nivel1-1">Mas informacion</label>
                        <ul class="interior">
                              
                                <table BORDER WIDTH="100%" class="tabla-info">
                                    <tr>
                                      <td>

                                      </td>
                                    </tr>
                                  </table>
                                </ul>
                            </label>
                     <style>
                     .interior{ display:none; }
                    input:checked ~ ul{display:block;}
                     </style>
                    <!--fin-->
            </div>
        </ul>
    </div><!--fin del bloque1-->
    <div class="pricing-table recommended">
        <h2 class="pricing-title">mi dentista</h2>
        <!-- Lista de Caracteristicas / Propiedades -->
        <ul class="table-list">
            <table class="tabla-principal">
                <tr>
                    <th></th>
                  <td WIDTH="65%" HEIGHT="80%" rowspan="6"><img src="images/imagen2.jpg" alt="odontologias tacna" style="width:80%;"></td>
                  <td><a href="URL-maps" target="_blank"><img alt="ubicame en tacna" height="32" src="images/direccion.png" title="sígueme por Correo" width="32" /></a></td>
                  <td><h4>AV LEGUIA</h4></td>
                </tr>
                <tr>
                  <th></th>
                  <td><a href="URL-maps" target="_blank"><img alt="ubicame en tacna" height="32" src="images/telefono.png" title="sígueme por Correo" width="32" /></a></td>
                  <td><h4>97632487</h4></td>
                </tr>
                <tr>
                  <th></th>
                  <td><a href="URL-maps" target="_blank"><img alt="ubicame en tacna" height="32" src="images/usuario.png" title="sígueme por Correo" width="32" /></a></td>
                  <td><h4>LUNES A VIERNES</h4></td>
                </tr>
                
                <tr>
                    <th></th>
                    <td><a href="URL-Correo" target="_blank"><img alt="sígueme por Correo" height="32" src="images/logo-gmail.png" title="sígueme por Correo" width="32" /></a>
                        </td>
                    <td><h4>dentista@gmail.com</h4></td>
                </tr>
                <tr>
                    <th></th>
                    <td><a href="URL-web" target="_blank"><img alt="sígueme por Correo" height="32" src="images/mundo-en-red.png" title="sígueme por Correo" width="32" /></a></td>
                    <td><h4>www.dentista.com</h4></td>
                </tr>
                
                <tr>
                    <th></th>
                    <td><a href="URL-FACEBOOK" target="_blank"><img alt="siguenos en facebook" height="32" src="images/facebook-logo.png" title="siguenos en facebook" width="32" /></a></td>
                    <td><a>facebook</a></td>
                </tr>
            </table> 
            <div class="table-buy">
                <!--<a href="masinformacion.html" class="pricing-action">mas informacion</a-->
                    <li><input type="checkbox"  class="pricing-action"  name="list" id="nivel1-1"><label class="pricing-action" for="nivel1-1">Mas informacion</label>
                        <ul class="interior">
                              
                                <table BORDER WIDTH="100%" class="tabla-info">
                                    <tr>
                                      <td>
                                        <!--aqui con fe-->
                                        
                                      </td>
                                    </tr>
                                  </table>
                                </ul>
                            </label>
                     <style>
                     .interior{ display:none; }
                    input:checked ~ ul{display:block;}
                     </style>
                    <!--fin-->
            </div>
        </ul>
    </div>
    <!--fin del bloque2-->
</div>