
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="estilos/masinformacion.css" rel="stylesheet" title="Default Style"> 
<li><input type="checkbox" name="list" id="nivel1-1"><label for="nivel1-1">Nivel 1</label>
   <ul class="interior">
          
            <table BORDER WIDTH="50%" class="tabla-info">
                <tr>
                  <td>
                    <div id="contenedor">
                        <input id="tab1" type="radio" name="opcion" checked="checked" />
                        <label for="tab1">IMAGENES</label>
                        <input id="tab2" type="radio" name="opcion" />
                        <label for="tab2">INFORMACION</label>
                        <input id="tab3" type="radio" name="opcion" />
                        <label for="tab3">OFERTAS</label>
                        <div id="contenido">
                          <div id="contenido1">
                            <p class="left">
                                <div class="w3-content w3-display-container">
                                    <img class="mySlides" src="images/fondo1.jpg" style="width:100%">
                                    <img class="mySlides" src="images/fondo.jpg" style="width:100%">
                                    <img class="mySlides" src="images/fondo1.jpg" style="width:100%">
                                    <img class="mySlides" src="images/fondo.jpg" style="width:100%">  
                                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                                  </div>
                            </p>
                            <script type="text/JavaScript" src="js/masinformacion.js"></script>
                  
                        </div>
                          <div id="contenido2">
                            <!--google maps-->

                              <div class="google-maps">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12698.017302765014!2d-5.924386855443038!3d37.28317952472348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd12705c945f7355%3A0x1f6735c306757c59!2sDos+Hermanas%2C+Sevilla%2C+Espa%C3%B1a!5e0!3m2!1ses!2s!4v1387797719272" width="600" height="450" frameborder="0" style="border:0"></iframe>
                              </div>
                            <!--Termina google maps-->
                          </div>
                          <div id="contenido3">
                            <p>Contenido 3</p>
                            <ul>
                              <li>precio1</li>
                              <li>precio2</li>
                              <li>precio5</li>
                            </ul>
                            <p>promocion</p>
                          </div>
                        </div>
                      </div>
                  </td>
                </tr>
              </table>
            </ul>
  </li>  
 